<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <title>EmpleosApp | Formulario de Registro</title>
    
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    
  </head>

  <body>

    <header th:insert="fragments/menu.html :: menu-main">
    
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Formulario de registro</strong></h4>              
          <div class="card-body">
            <form th:action="@{/users/signup}" th:object="${user}" method="post">              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Escriba su nombre" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" th:field="*{email}" id="email" class="form-control" placeholder="Escriba su correo electrónico" required="required">
                  </div> 
                </div>    
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{username}" id="username" class="form-control" placeholder="Escriba su nombre de usuario" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" id="password" class="form-control" placeholder="Escriba su clave de acceso" required="required">
                  </div>
                </div>
              </div>                  
              <hr>
              <button type="submit" title="Quiero registrarme." class="btn btn-primary">Registrarse</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer.html :: footer" class="footer">
    
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>