<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
    
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu.html :: menu-main">
	
	</header>
	
	<main role="main">

      <div class="jumbotron">
        <div class="container">
          <h3>Encuentra el trabajo que andas buscando.</h3>
          <hr>
          Puedes buscar por descripción y categoría.
          <hr>
          <form class="form-inline">
            <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Escriba una búsqueda">&nbsp;
            <select class="custom-select custom-select mb-3">
              <option th:value="${null}" selected>Seleccione una categoría</option>
              <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>&nbsp;
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
          </form>
        </div>
      </div>
      <hr>

      <div class="container"> 
        <h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
        <hr>
        <div class="row" th:each="vacant : ${vacants}">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${vacant.image}) }" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <h2>[[${vacant.name}]]</h2>
            <h6 class="card-title"><strong>Categoría: </strong> <span>[[${vacant.category.name}]]</span></h6>
            <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${#dates.format(vacant.publishDate, 'dd-MM-yyyy')}"></span></h6>                
            <p>[[${vacant.description}]]</p>
            <p><a class="btn btn-secondary" th:href="@{/vacants/view/{id} (id=${vacant.id}) }" role="button">Ver detalles &raquo;</a></p>            
          </div>
        </div>         
	  	<hr>	
      </div> <!-- /container -->

    </main>
	
	<footer th:insert="fragments/footer.html :: footer">
	
	</footer>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>