<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <title>EmpleosApp | Aplicar para una Oferta de Trabajo</title>
    
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">   
  </head>

  <body>

    <header th:insert="fragments/menu.html :: menu-main">

    </header>

    <main role="main">     
      <hr>
      <div class="container"> 
        <div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${vacant.image}) }" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header"><strong>Aplicar para la vacante [[${vacant.name}]]</strong></h4>              
              <div class="card-body">
                <h5 class="card-title"><strong>Categoría: </strong><span>[[${vacant.category.name}]]</span></h5>
                <h6 class="card-title"><strong>Publicado: </strong>
                	<span th:text="${#dates.format(vacant.publishDate, 'dd-MM-yyyy')}"></span>
                </h6>
                <h6 class="card-title"><strong>Salario Ofrecido: </strong><span>$[[${vacant.salary}]]</span></h6>
                <p class="card-text">[[${vacant.description}]]</p>
                <hr>
                <form th:action="@{/requests/send}" th:object="${request}" method="post" enctype="multipart/form-data">                                                 
                  <div class="row">
                    <div class="col-md-6"> 
                      <div class="form-group">
                        <label for="comentarios">Comentarios</label>
                        <input type="hidden" th:name="vacant.id" th:value="${vacant.id}">
                        <textarea th:field="*{comments}" id="comentarios" class="form-control" rows="2"></textarea>
                      </div> 
                    </div> 
                    <div class="col-md-6"> 
                      <div class="form-group">
                        <label for="cvFile">Curriculm Vitae</label>
                        <input type="file" name="cvFile" id="cvFile" class="form-control-file">
                        <p class="help-block">Archivos [ pdf,doc,docx ]</p>
                      </div>
                    </div>
                  </div> 
                  <hr>
                  <button type="submit" title="Enviar mi Solicitud." class="btn btn-primary">Enviar</button>  
                </form>
              </div>
            </div> 
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer.html :: footer" class="footer">

    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
