<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <title>EmpleosApp | Listado de Solicitudes de Empleo</title>
    
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/menu.html :: menu-main">
    
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Solicitudes de Empleo</strong></h4>              
          <div class="card-body">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <!-- <th scope="col">Categoría</th>  -->
                  <th scope="col">Vacante</th>
                  <th scope="col">Nombre Candidato</th>
                  <th scope="col">Recibida</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="request : ${requests.content}">
                  <!-- <td>[[${request.vacant.category.name}]]</td>  -->
                  <td>[[${request.vacant.name}]]</td>
                  <td>[[${request.user.name}]]</td>
                  <td th:text="${#dates.format(request.requestDate, 'dd-MM-yyyy')}"></td>
                  <td>
                    <!-- <a href="#" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>  -->
                    <a href="#" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    <!-- <a href="#" class="btn btn-success btn-sm" role="button" title="Enviar correo electrónico al usuario."><i class="fas fa-envelope" aria-hidden="true"></i></a>  -->
                    <a th:href="@{/curriculumns/{cv} ( cv = ${request.file} )}" target="_blank" class="btn btn-success btn-sm" role="button" title="Descargar Curriculm Vitae."><i class="fas fa-download" aria-hidden="true"></i></a>
                  </td>
                </tr>      
              </tbody>
            </table>
            <nav aria-label="Page navigation">
            	<ul class="pagination">
            		<li th:if="${requests.number > 0}" class="page-item">
            			<a th:href="@{/requests/index ( pageNumber = ${requests.number - 1} )}" class="page-link">Anterior</a>
            		</li>
            		<li th:if="${requests.number < requests.totalPages - 1}" class="page-item">
            			<a th:href="@{/requests/index ( pageNumber = ${requests.number + 1} )}" class="page-link">Siguiente</a>
            		</li>
            	</ul>
            </nav>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer.html :: footer" class="footer">
    
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>